<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Address</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="floating">Unit Number</ion-label>
        <ion-input name="unitNumber" id="unitNumber" type="text" placeholder="#05-05" [(ngModel)]="unitNumber"
            #inUnitNumber="ngModel" minlength="1" required="true"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Building Name or Block Number</ion-label>
        <ion-input name="buildingName" id="buildingName" type="text" placeholder="The Artisan or Block Number"
            [(ngModel)]="buildingName" #inBuildingName="ngModel" minlength="1" required="true"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Road Name</ion-label>
        <ion-input name="roadname" id="roadname" type="text" placeholder="11 Serangoon Road" [(ngModel)]="roadname"
            #inRoadname="ngModel" minlength="8" required="true"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Postal Code</ion-label>
        <ion-input name="postalCode" id="postalCode" type="text" placeholder="postalCode" [(ngModel)]="postalCode"
            #inPostalCode="ngModel" minlength="6" maxlength="6" required="true"></ion-input>
    </ion-item>

    <ion-button icon="home " shape="block" fill="solid" (click)="setAddress()" block>Next
    </ion-button>
</ion-content>