<ion-header>

	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>View All Packages</ion-title>
	</ion-toolbar>
  
</ion-header>

<ion-content>

	<ion-card>      
	  
      <ion-card-content>
        
		<ion-list>
			<ion-button expand="full" *ngFor="let plan of plans" >
				<ion-icon slot="start" name="arrow-forward"></ion-icon>
				{{plan.planId}} - {{plan.planName}}
			</ion-button>
		</ion-list>
		
      </ion-card-content>
	  
    </ion-card>	

</ion-content>

<ion-footer>

	<ion-title size="small">&copy; 2020 IS3106. All rights reserved.</ion-title>
	
</ion-footer>
