<ion-header>

	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>View All Packages</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content class="card-background-page">
	<!-- <ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let plan of plans"> -->

	<ion-card *ngFor="let plan of plans">
		<img *ngIf="plan.image==null" class="imgCard" src="{{imageSrc}}" />
		<img *ngIf="plan.image!=null" class="imgCard" src="../../assets/{{plan.image}}" />
		{{plan.image}}
		<div class="card-title">
			{{plan.planName}}

		</div>
		<div class="card-subtitle">{{plan.planDescription}}</div>
		<div class="card-price">Starting from : ${{plan.memberPrice}}</div>
		<!-- <ion-button class="buttonCard" fill="clear">Select Package<ion-icon slot="end" name="arrow-forward" (click)="selectFrequency($event, plan)"></ion-icon>
		</ion-button> -->
		<ion-button class="buttonCard" fill="clear" (click)="selectFrequency($event, plan)">Select Package<ion-icon slot="end"
			 name="arrow-forward"></ion-icon>
		</ion-button>
	</ion-card>
	<!-- 
			</ion-col>
		</ion-row>

	</ion-grid> -->




</ion-content>

<ion-footer>

	<ion-title size="small">&copy; 2020 IS3106. All rights reserved.</ion-title>

</ion-footer>