<ion-header>

	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>View All Packages</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content class="card-background-page">
	<!-- <ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let plan of plans"> -->

	<ion-card *ngFor="let p of plans">
		<img class="imgCard" src="assets/pkg_placeholder.jpg" />
		<div class="card-title">
			{{p.planName}}

		</div>
		<div class="card-subtitle">{{p.planDescription}}</div>
		<div class="card-price">Starting from : ${{p.memberPrice}}</div>
		<ion-button class="buttonCard" fill="clear">Select Plan<ion-icon slot="end" name="arrow-forward"></ion-icon>
		</ion-button>
	</ion-card>
	<!-- 
			</ion-col>
		</ion-row>

	</ion-grid> -->




</ion-content>

<ion-footer>

	<ion-title size="small">&copy; 2020 IS3106. All rights reserved.</ion-title>

</ion-footer>