<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>


  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" src="../../assets/avatar.jpg">
      <h3 id="profile-name">{{customer.firstName}} {{customer.lastName}}</h3>
      <ion-icon slot="start" name="create" (click)="presentModalFullName()"></ion-icon>
    </div>
    <ion-list>
      <!-- Item as a Button -->
      <ion-item button (click)="presentModalUsername()">
        <ion-label>
          Username
        </ion-label>
        <ion-note slot="end" color="primary">{{customer.username}}</ion-note>

      </ion-item>

      <!-- Item as a Button -->
      <ion-item button (click)="presentContactNum()">
        <ion-label>
          Phone Number
        </ion-label>
        <ion-note slot="end" color="primary">{{this.customer.contactNum}}</ion-note>
      </ion-item>

      <!-- Item as a Button -->
      <ion-item button (click)="presentModalPassword()">
        <ion-label>
          Password
        </ion-label>
        <ion-note slot="end" color="primary">{{this.customer.password}}</ion-note>
      </ion-item>

      <ion-item button (click)="presentModalCreditCard()">
        <ion-label>
          Credit Card Selection
        </ion-label>
      </ion-item>



    </ion-list>
  </div>
  <div id="profile-bgs"></div>





</ion-content>