<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="assets/avatar.jpg">
      </ion-avatar>
    </ion-item>
    <!-- Item as a Button -->
    <ion-item button (click)="buttonClick()">
      <ion-label>
        Username
      </ion-label>
      <ion-note slot="end" color="primary">{{customer.username}}</ion-note>
    </ion-item>
    <!-- Item as a Button -->
    <ion-item button (click)="buttonClick()">
      <ion-label>
        First Name
      </ion-label>
      <ion-note slot="end" color="primary">{{customer.firstName}}</ion-note>
    </ion-item>
    <!-- Item as a Button -->
    <ion-item button (click)="buttonClick()">
      <ion-label>
        Last Name
      </ion-label>
      <ion-note slot="end" color="primary">{{customer.lastName}}</ion-note>
    </ion-item>

    <!-- Item as a Button -->
    <ion-item button (click)="buttonClick()">
      <ion-label>
        Phone Number
      </ion-label>
      <ion-note slot="end" color="primary">{{this.customer.contactNum}}</ion-note>
    </ion-item>

    <!-- Item as a Button -->
    <ion-item button (click)="buttonClick()">
      <ion-label>
        Password
      </ion-label>
      <ion-note slot="end" color="primary">{{this.customer.password}}</ion-note>
    </ion-item>

    <ion-item button (click)="buttonClick()">
      <ion-label>
        Credit Card Selection
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Delete Account
      </ion-label>
    </ion-item>
  </ion-list>





</ion-content>