.imgCard{
    max-height:250px;
}

.title{
    font-weight:900;
    font-size: 32px;
    color:#3880ff;
}

main{
    background-color:#3880ff;
}

.inner-scroll.scroll-y.overscroll{
    background-color:#3880ff;
}