<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Package Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="retrievePlanError == false && planToView != null" class="card-background-page">
  <ion-card>
    <ion-card-header color="primary">
      <ion-text>
        <p>You Selected : </p>
        <h4> {{this.planToView.planName}}</h4>
      </ion-text>
    </ion-card-header>
    <ion-list>
      <ion-item lines="full">
        <ion-text>
          <p>{{this.planToView.planDescription}}</p>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-text>
    <h2 style="text-align:center;">Total Price : $ {{priceToShow}}</h2>
  </ion-text>


  <ion-radio-group value="daily" (ionChange)="freq($event)">
    <ion-card>
      <ion-item color="secondary">
        <h4>Daily Cleaning - One Time</h4>
      </ion-item>
      <!-- <ion-item>
        <h5>$ {{planToView.dailyPrice }} / day</h5>
        <ion-button size="small" color="secondary" slot="end" (click)="viewMapDaily($event)">Select</ion-button>
      </ion-item> -->

      <ion-item>
        <ion-label>{{planToView.dailyPrice}} / day</ion-label>
        <ion-radio slot="end" color="tertiary" value="daily"></ion-radio>
      </ion-item>


    </ion-card>

    <ion-card>
      <ion-item color="secondary">
        <h4>Regular Cleaning - 6x Cleaning</h4>
      </ion-item>
      <!-- <ion-item>
        <h5>$ {{planToView.regularPrice }} / day</h5>
        <ion-button size="small" color="secondary" slot="end" (click)="viewMapRegular($event)">Select</ion-button>
      </ion-item> -->

      <ion-item>
        <ion-label>{{planToView.regularPrice}} / day</ion-label>
        <ion-radio slot="end" color="tertiary" value="regular"></ion-radio>
      </ion-item>


    </ion-card>

    <ion-card>
      <ion-item color="secondary">
        <h4>Member Cleaning - 12x Cleaning</h4>
      </ion-item>
      <!-- <ion-item>
        <h5>$ {{planToView.memberPrice }} / day</h5>
        <ion-button size="small" color="secondary" slot="end" (click)="viewMapMember($event)">Select</ion-button>
      </ion-item> -->

      <ion-item>
        <ion-label>{{planToView.memberPrice}} / day</ion-label>
        <ion-radio slot="end" color="tertiary" value="member"></ion-radio>
      </ion-item>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button icon="home " shape="block" fill="solid" (click)="proceed()" block>Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-radio-group>

</ion-content>