<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Package Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="retrievePlanError == false && planToView != null">
    <ion-card-header color="primary">
      You Selected : {{this.planToView.planName}}
    </ion-card-header>>
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="albums" slot="start"></ion-icon>
        <ion-label color="primary">{{planToView.planName}}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">

          {{planToView.planDescription}}
        </ion-card-subtitle>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>