<ion-content>
  <ion-slides pager=true>

    <ion-slide>
      <div class="slide">
        <img src="assets/cleaning.png" />
        <h2>Welcome to Ryuclean</h2>
        <p>The <b>RyuClean app</b> is a one stop portal for everything you need for Cleaning and Maintenance for you!
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/professions-and-jobs.png" />
      <h2>What is RyuClean?</h2>
      <p>Born out of passion of helping you find the things that <b>"Sparks Joy"</b> we want to make cleaning easier
        for
        you. Let us do take care of the dirty work for you while you do what you do best!</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/wash.png" />
      <h2>How Does it Work?</h2>
      <p><b>RyuClean</b> allows you to choose a cleaning package that best meets your need and hire a cleaner on
        demand.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/people.png" />
      <h2>What Are You Waiting For?</h2>
      <ion-button class="buttonSlider" fill="clear" (click)="continueToLogin()">Let's Clean <ion-icon slot="end" name="arrow-forward">
        </ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>

<style>

</style>