<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Edit Password
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form #updateCustomerForm="ngForm" (ngSubmit)="update(updateCustomerForm)">

    <!-- <div style="color: red;">
      <div *ngIf="category.invalid && (category.dirty || category.touched || submitted)" class="errorText">
        <div *ngIf="category.errors.required">
          Category is required.
        </div>
      </div>
    </div> -->

    <ion-list>
      <ion-item>
        <ion-label><b>Password</b></ion-label>
        <ion-input type="text" id="password" name="password" [(ngModel)]="customerToUpdate.firstName" required="true"
          #name="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button type="submit" ion-button block>
          Update
        </ion-button>
      </ion-item>

    </ion-list>

  </form>

</ion-content>