<ion-header>
  <ion-toolbar>
    <ion-title>Scheduled Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item ng-if="jobs.length <=0 || !jobs">
    No Scheduled Orders.
  </ion-item>

  <ion-card *ngFor="let job of jobs">

    <ion-item>
      <ion-card-subtitle>Job ID : {{job.jobId}} ( {{job.jobStatusEnum}} )</ion-card-subtitle>

    </ion-item>

    <ion-item class="ion-activated" light>
      <ion-icon name="albums" slot="start"></ion-icon>
      <ion-label>{{job.order.plan.planName}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>{{parseDate(job.jobDate) | date:'EEE, d/MM/yyyy' }}</ion-label>
    </ion-item>

  </ion-card>





</ion-content>