#header_logo{
    padding:5px;   
     align-items: center;
      
  }

  .titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}

// @media only screen and (min-width: 600px){
  
    
// }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .imgCard{
        object-fit: cover;
        width: 100%;
        height: 800px;
        filter: brightness(80%)
      }
  
}

    .imgCard{
        object-fit: cover;
        width: 100%;
        height: 300px;
        filter: brightness(80%)
      }




//   .home_username{
//       font-weight: bold;
//       color: #3880ff;
//   }

  ion-slides {
    --bullet-background: rgba(215, 215, 215, 0.913);
    --bullet-background-active: white;
}

.home_text{
    text-align:center;
}

ion-popover {
	--width: 320px;
}