<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			RyuClean
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-card *ngIf="utilityService.getIsLogin()==false">
		<ion-card-header>
			<ion-card-title>Welcome</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p>
				This version of the RyuClean App is Amazing!
			</p>
			<ul style="margin-left:20px;">
				<li>Awesome meet cleaners yoy</li>
				<li>Awesome service yow</li>
			</ul>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="utilityService.getIsLogin()==true">
		<ion-card-header>
			<ion-card-title>WELCOME HOME YO</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<h1>yeboii</h1>

		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer *ngIf="utilityService.getIsLogin() == true">

	<ion-toolbar>
		<ion-button expand="full" (click)="customerLogout()">
			<ion-icon slot="start" name="exit"></ion-icon>
			Logout
		</ion-button>
	</ion-toolbar>

</ion-footer>