<ion-header>
  <ion-toolbar>
    <ion-title>JobSetting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>      
	  
        <ion-card-content>
          
      <ion-list>
        <ion-button expand="full" *ngFor="let job of jobList" (click)="setDate($event, job)">
          {{job.jobId}} 
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-list>

      <ion-button size="medium" slot="end" (click)="setOrderPreference()" >Proceed</ion-button>
     
        </ion-card-content>
      
      </ion-card>	

</ion-content>
