<ion-header>
  <ion-toolbar>
    <ion-title>JobSetting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>      
	  
        <ion-card-content>
          
      <ion-list>
        <ion-button expand="full" *ngFor="let job of jobList" (click)="viewProductDetails($event, product)">
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
          {{job.id}}
        </ion-button>
      </ion-list>
      
        </ion-card-content>
      
      </ion-card>	

</ion-content>
